@ibm:registry=http://173.192.225.82:8080
//173.192.225.82:8080/:_authToken=0c561ee7-0821-4659-bfa8-c8c13ce79129
color=always
//registry.npmjs.org/:_authToken=cf11ca0b-4c2c-47f3-a0e8-7a6a6454f6be
config=@watson-iot:registry
@watson-iot:registry=https://npm-registry.whitewater.ibm.com
//npm-registry.whitewater.ibm.com/:_authToken=51eb10c3-cd3c-43b1-a2c4-2037769ce508
save=true
save-exact=true
